h1 {
    color: crimson;
    font-size: 4rem;
}
h2 {
    color: cadetblue;
}
/*  */
p {
    color: gray;
}
#heading {
    color: rgb(249, 64, 77);
    background-color: rgb(186, 160, 160);
}
#subheading {
    color: aliceblue;
    background-color: rgb(216, 105, 83);
}
.green {
    color: green;
}
.red {
    color: red;
    background-color: bisque;
}
#firstgreen {
    font-size: 40px;
    text-transform: lowercase;
}
div {
    color: aqua;
    background-color: blue;
}
span {
    text-transform: uppercase;
}