
/* .heading {
color: violet;
}
.text {
    color: lime;
}
.main-text {
    color: blueviolet;
} */
:root {
    /* Related to ALL doc */
    --primaryColor: violet; 
    /* Any related name */
    --secondaryColor: lime;
    --mainTransition: all 0.4s linear;
}
.heading {
    color: var(--primaryColor);
}
.heading2 {
    color: var(--primaryColor);
    transition: var(--mainTransition);
}
.heading2:hover {
    color: var(--secondaryColor);
}
div {
    --primaryRed:coral;
}
/* Related just to our div */
.main-text {
    color: var(--primaryRed);
}
.heading3 {
    color: var(--primaryRed);
}
/* Won't work, div is not related to the class */
.social {
    font-size: 3rem;
}
h1 {
    text-shadow: 1px 4px 7px gray;
    /*  x y blur color */
}
div {
    width: 200px;
    height: 200px;
    background: beige;
    margin: 20px;
    box-shadow: 3px 4px 5px red;
    /* We can use text/box shadow generator */
}