.banner {
    border: 5px solid red;
    padding: 10px;
    overflow: hidden;
}
.one {
    float: right;
}
.two {
    float: left;
}
p {
    /* clear: both; The img and the text are in the border */
    clear: right;
    /* should be float left - clear left? */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.one1 {
    float: left;
    background: darkred;
    color: aliceblue;
    height: 200px;
    width: 33.33%;
}
.two2 {
    float: left;
    background: darkgreen;
    color: aliceblue;
    height: 200px;
    width: 33.33%;
}
.three3 {
    float: left;
    background: darkcyan;
    color: aliceblue;
    height: 200px;
    width: 33.33%;
}
/* Can use div for the same properties */
h1 {
    clear: both;
}
/* To separate from the boxes (if more that 3 it will start on a new line) */
div.position {
    border: 5px solid red;
    background: darkcyan;
    color: aliceblue;
    margin-top: 60px;
}
.special {
    background: darkred;
    position: absolute;
    /* it's looking for the element with the position relative anf if NOT goes to the body*/
}
.one11 {
    /* position: relative */
/* top bottom left right */
}
.two22 {
    /* position: relative; */
}
button {
    background: red;
    font-size: 40px;
    color: aliceblue;
    position: fixed;
    /* There's NO button */
    top: 0;
    right: 0;
}